#content{
    width: 890px;
    height: 1380px;
    /*border: 1px solid #333333;*/
    padding: 0 45px;
    margin: 0 auto;
}

#header{
    width: 892px;
    height: 61px;
    border-bottom:2px solid #938e8c;
    margin:0 auto;
}

.header-left{
    float: left;
    width: 110px;
    height: 21px;
    background: #D45d5c;
    padding-top: 40px;
    text-align: center;
}
.header-left span{
    font-size: 12px;
    color: #ffffff;
    font-family: ºÚÌå;
}

.header-time{
    width: 100px;
    height: 21px;
    padding-top: 40px;
    float: right;
    text-align:right;
}

.header-time span{
    font-size: 12px;
    color: #D45d5c;
}

#main{
    margin-top:36px;
}
.main-img{
    width: 641px;
    height: 301px;
    float: left;
}

.main-about{
    margin-left:690px;
    width: 203px;
    height: 301px;
    border-top: 2px solid #cc8091;
}

.main-about .about,.technologe{
    font-size:24px;
    color: black;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
    border-bottom: 1px solid black;
    display:inline-block;
}

.main-about-number{
    margin: 0;
    padding: 0;
    font-size: 116px;
    color: #75b86b;
    font-style: italic;
}

.main-about .about span, .technologe span{
    font-size: 30px;
}

.small-about{
    font-size: 12px;
    color: #676767;
    font-family: kaiti, serif;

    padding: 0;
    margin: 0;
}

.number-left{
    font-size: 55px;
    color: #cc8091;
    font-family: Microsoft Yahei,sans-serif;
    float: left;


}

.number-right{
    font-size: 21px;
    padding-top:22px ;
    color: #cc8091;
    padding-left: 85px;
}
.number-bottom{
    font-size: 12px;
}
.main-about .technologe{
    /*font-size: ;*/
}

#comment{
    margin-top: 26px;
    width: 100%;
    height: 240px;
    background: #999999;
}

#comment-what{
    width: 230px;
    float:left;
}

#comment-what .what{
    /*float: left;*/
    font-size: 16px;
    color: #418c59;
    font-weight: bold;

}

#comment-when{
    width: 230px;
    float: left;
    margin-left: 20px;
}

#comment-when .when{
    font-size: 16px;
    color: #418c59;
    font-weight: bold;
}

#comment-how{
    /*margin-left: 500px;*/
    float: left;
    margin-left: 20px;
    width: 150px;
}

#comment-how .how{
    font-size: 16px;
    color: #cc7680;
    font-weight: bold;
}


#final{
    width: 100%;
    height: 649px;
    border-bottom: 1px solid #938e8c;
}